:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  //height: 100vh;
  height: 100%;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
}

.header-trigger {
  height: 64px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s, padding 0s;
}

.header-ident {
  height: 64px;
  padding: 20px 10px;
  margin-left: 37px;
  font-size: 22px;
  cursor: pointer;
  transition: all .3s, padding 0s;
}

.trigger:hover {
  color: white;
}

.sidebar-logo {
  width: 240px;
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  background: #1890ff;
  transition: all .3s;
}

.sidebar-logo-small {
  width: 64px;
  position: relative;
  height: 64px;
  overflow: hidden;
  line-height: 64px;
  padding-left: 12px;
  background: #1890ff;
  transition: all .3s;

  img {
    display: inline-block;
    height: 32px;
    width: 32px;
    vertical-align: middle;
  }
}

.sidebar-logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}


.app-header {
  position: relative;
  height: 64px;
  padding: 0;
  background: #1890ff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
  color: white;
}

nz-content {
  margin: 88px 24px 24px;
}

.inner-content {
  padding: 8px 24px;
  background: #fff;
}

.nav_header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 0 16px;
  background-color: #1890ff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, .2);
}

.nav-wrap {
  display: flex;
  flex: 1;
  justify-content: space-between;
}




