<nz-descriptions nzBordered nzSize="small"
    [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 2, sm: 2, xs: 1 }">
    <nz-descriptions-item nzTitle="Nombre Ciudad">{{data?.name}}</nz-descriptions-item>
</nz-descriptions>
<div>
    <nz-table #nzTable [nzLoading]="isLoading" [nzData]="weatherData"
        [nzBordered]="true">
        <thead>
            <tr>
                <th>Temperatura</th>
                <th>Sensación Térmica</th>
                <th>Mínima</th>
                <th>Máxima</th>
                <th>Húmedad</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of weatherData">
                <td>{{ data.main.temp }}</td>
                <td>{{ data.main.feels_like }}</td>
                <td>{{ data.main.temp_min }}</td>
                <td>{{ data.main.temp_max }}</td>
                <td>{{ data.main.humidity }}</td>
            </tr>
        </tbody>
    </nz-table>

</div>
<div *nzModalFooter>
    <button nz-button nzType="primary" (click)="onClose()"
        style="background: #00365e;border-color: #00365e;">Cerrar</button>
</div>