<div class="search-box">
  <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue"/>
  <button nz-button nzType="primary" (click)="search()" class="search-button">
    Search
  </button>
  <button nz-button (click)="reset()">Reset</button>
</div>
<div class="search-box">
  <input type="text" nz-input placeholder="Modificar observable" [(ngModel)]="newPepeValue"/>
  <button nz-button nzType="primary" (click)="modificarPepeVariable()" class="search-button">
    Modificar
  </button>
  <button nz-button (click)="resetPepeValue()">Reset</button>
</div>

<!--[nzLoading]="true"-->
<nz-table #nzTable [nzLoading]="loading" [nzData]="listOfDisplayData"
[nzShowSizeChanger]="false" [nzBordered]="true">
  <thead (nzSortChange)="sort($event)" nzSingleSort>
  <tr>
    <th nzShowSort nzSortKey="id">
      ID
    </th>
    <th nzShowSort nzSortKey="name">
      Nombre
    </th>
    <th nzShowSort nzSortKey="country">País</th>
    <th nzShowSort>Lat</th>
    <th nzShowSort>Long</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of nzTable.data">
    <td>{{ data.id }}</td>
    <td>{{ data.name }}</td>
    <td>{{ data.country }}</td>
    <td>{{ data.coord.lat }}</td>
    <td>{{ data.coord.lng }}</td>
    <td>
        <button nz-button nz-tooltip nzType="default" nzTooltipTitle="ver" nzTooltipPlacement="top"
            (click)="onView(data)" nzShape="circle"><i nz-icon nzType="eye"></i>Ver Clima</button>
    </td>
  </tr>
  </tbody>
</nz-table>
