.search-box {
  padding: 8px;
}

.search-box input {
  width: auto;
  margin-bottom: 8px;
  margin-right: 16px;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}

.btn-add {
  margin-bottom: 16px;
  width: 90px;
}

[nz-icon] {
  margin-right: 6px;
  font-size: 24px;
}

.ant-statistic-title *{
  font-size: 16px !important;
}

[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}

nz-button-group [nz-button] {
  margin-right: 0;
}